﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" href="/img/base/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/base/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/base/apple-touch-icon-114x114-precomposed.png" />
	@Styles.Render("~/Less")
	@Scripts.Render("~/Scripts")
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
	<div class="modal">
		<div class="modal-inner">
			<a rel="modal:close">&times;</a>
			<div class="modal-content">
				<div id="modal-demo" style="display:none">
					<p>this is the content</p>
				</div>

			</div>
		</div>
	</div>
	@RenderSection("scripts", required: false)
</body>
</html>
