﻿@{
    ViewBag.Title = "Home Page";
}
<div class="col col-1">
	<a href="@Url.Action("Index", "Home")">
		<img src="@Url.Content("~/Images/logo.png")" alt="Bison graphic with the words bison deploy underneith." />
	</a>
</div>
<div class="col col-2">
	<h1>Design, Develop, <strong>Deploy</strong></h1>
</div>
<div class="col col-1 hidden-sm" style="background-image: url(/Images/manaia.jpg)">
</div>
<div class="col col-1" style="background-image: url(/Images/brisbane.jpg)">
</div>
<div class="col col-2" style="background-image: url(/Images/code.jpg)">
</div>
<div class="col col-1 hidden-sm" style="background-image: url(/Images/races.jpg)">
</div>
<div class="col col-1">
	<h2>Design</h2>
	<p>Weather you already have a design idea or need one whipped up from scratch, I will find the perfect solution for your company.</p>
</div>
<div class="col col-1">
	<h2>Develop</h2>
	<p>With an array of various methods and skills under my belt, I will build a website perfectley matched to your requirements.</p>
</div>
<div class="col col-1">
	<h2>Deploy</h2>
	<p>I can also find your new website a home with my complete domain and hosting packages or by setting you up in your current plan.</p>
</div>
<a href="#" class="col col-2 col-free-height col-red">I'm new, I need a website</a>
<a href="#" class="col col-2 col-free-height col-blood-orange">I already have a website</a>
@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "col col-1 col-free-height col-orange" })
<div class="col col-5 col-free-height" style="display: none;">
	<p>Wizard goes here.</p>
</div>
<div class="col col-2" style="background-image: url(/Images/england.jpg)">
</div>
<div class="col col-3">
	<h2>Contact</h2>
	<p>Hoi</p>
</div>
<div class="col col-1 hidden-sm" style="background-image: url(/Images/harajuku.jpg)">
</div>
<div class="col col-1 hidden-sm" style="background-image: url(/Images/nice.jpg)">
</div>
