﻿@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Regular/ColabReg-webfont.eot);
  src: url(../Fonts/Colaborate/Regular/ColabReg-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.woff) format('woff'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Medium/ColabMed-webfont.eot);
  src: url(../Fonts/Colaborate/Medium/ColabMed-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.woff) format('woff'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Thin/ColabThi-webfont.eot);
  src: url(../Fonts/Colaborate/Thin/ColabThi-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.woff) format('woff'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: 100;
  font-style: normal;
}