﻿article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 1px solid #474644;
  margin: 25px 0px;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Regular/ColabReg-webfont.eot);
  src: url(../Fonts/Colaborate/Regular/ColabReg-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.woff) format('woff'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Regular/ColabReg-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Medium/ColabMed-webfont.eot);
  src: url(../Fonts/Colaborate/Medium/ColabMed-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.woff) format('woff'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Medium/ColabMed-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: url(../Fonts/Colaborate/Thin/ColabThi-webfont.eot);
  src: url(../Fonts/Colaborate/Thin/ColabThi-webfont.eot?#iefix) format('embedded-opentype'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.woff) format('woff'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.ttf) format('truetype'), url(../Fonts/Colaborate/Thin/ColabThi-webfont.svg#colaborate-regularregular) format('svg');
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: 'Colaborate', Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 14px;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}
h1 strong {
  font-weight: normal;
}
h2 {
  margin: 0 0 16px 0;
  font-weight: 300;
}
p {
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 16px 0;
  line-height: 20px;
}
a {
  color: #ffffff;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.col {
  margin: 8px;
  padding: 16px;
  position: relative;
  background-color: #2a2a2a;
  background-size: contain;
}
.col.col-yellow {
  background-color: #f89a49;
}
.col.col-orange {
  background-color: #f26641;
}
.col.col-blood-orange {
  background-color: #ef463e;
}
.col.col-red {
  background-color: #b0312a;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .container .col {
    width: 355px;
    height: 355px;
  }
  .container .col.col-red,
  .container .col.col-blood-orange,
  .container .col.col-orange {
    width: 355px;
    height: 107px;
  }
  .container .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 932px;
  }
  .container .col.col-free-height {
    height: auto!important;
    padding: 32px !important;
  }
  .container .col.col-1 {
    width: 164px;
    height: 164px;
  }
  .container .col.col-2 {
    width: 344px;
    height: 344px;
    padding: 32px;
  }
  .container .col.col-3 {
    width: 524px;
    height: 524px;
  }
  .container .col.col-4 {
    width: 704px;
    height: 704px;
  }
  .container .col.col-5 {
    width: 884px;
    height: 884px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 5.33333333px;
  }
  p {
    font-size: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1202px;
  }
  .container .col.col-free-height {
    height: auto!important;
    padding: 32px !important;
  }
  .container .col.col-1 {
    width: 218px;
    height: 218px;
  }
  .container .col.col-2 {
    width: 452px;
    height: 452px;
    padding: 32px;
  }
  .container .col.col-3 {
    width: 686px;
    height: 686px;
  }
  .container .col.col-4 {
    width: 920px;
    height: 920px;
  }
  .container .col.col-5 {
    width: 1154px;
    height: 1154px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
  }
}