﻿@import 'reset.less';
@import 'Fonts.less';

// --------------------------------------------------------
// ---------------------------- Colours
// --------------------------------------------------------

@white:					#FFFFFF;
@black:					#1A1A1A;
@charcoal:				#2A2A2A;
@yellow:				#f89a49;
@orange:				#f26641;
@blood-orange:			#ef463e;
@red:					#b0312a;


// --------------------------------------------------------
// ---------------------------- Variables
// --------------------------------------------------------

@grid:					16px;

// --------------------------------------------------------
// ---------------------------- Mixins
// --------------------------------------------------------

.createGrid(@container){
	@col:	@container / 5 - @grid;
	.container {
		width: @container + (@grid * 2);
		.col {
			&.col-free-height {
				height: auto!important;
				padding: @grid*2!important;
			}
			&.col-1 {
				width: @col;
				height: @col;
			}
			&.col-2 {
				width: @col * 2 + @grid;
				height: @col * 2 + @grid;
				padding: @grid * 2;
			}
			&.col-3 {
				width: @col * 3 + (@grid * 2);
				height: @col * 3 + (@grid * 2);
			}
			&.col-4 {
				width: @col * 4 + (@grid * 3);
				height: @col * 4 + (@grid * 3);
			}
			&.col-5 {
				width: @col * 5 + (@grid * 4);
				height: @col * 5 + (@grid * 4);
			}
		}
	}	
}


// --------------------------------------------------------
// ---------------------------- Generic
// --------------------------------------------------------

body {
	font-family: 'Colaborate', Arial, Helvetica, sans-serif;
	background-color: @black;
	color: @white;
	font-size: 14px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 40px;
	font-weight: 100;
	margin: 0;
	strong {
		font-weight: normal;
	}
}

h2 {
	margin: 0 0 @grid 0;
	font-weight: 300;
}

p {
	font-size: 16px;
	font-weight: 100;
	margin: 0 0 @grid 0;
	line-height: 20px;
}

a {
	color: @white;
}

.container {
	padding-left: @grid;
	padding-right: @grid;
	margin-left: auto;
	margin-right: auto;
}

.col {
	margin: @grid/2;
	padding: @grid;
	position: relative;
	background-color: @charcoal;
	background-size: contain;
	&.col-yellow {
		background-color: @yellow;
	}
	&.col-orange {
		background-color: @orange;
	}
	&.col-blood-orange {
		background-color: @blood-orange;
	}
	&.col-red {
		background-color: @red;
	}
}

// --------------------------------------------------------
// ---------------------------- Grid
// --------------------------------------------------------

// Small (sm)
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 750px;
		.col {
			width: 355px;
			height: 355px;
			&.col-red, &.col-blood-orange, &.col-orange {
				width: 355px;
				height: 107px;
			}
		}
		.hidden-sm {
			display: none;
		}
	}
}

// Medium (md)
@media (min-width: 992px) and (max-width: 1199px) {
	.createGrid(900px);
	h2 {
		font-size: 16px;
		margin-bottom: @grid/3;
	}
	p {
		font-size: 100%;
	}
}

// Large (lg)
@media (min-width: 1200px) {
	.createGrid(1170px);
	h2 {
		font-size: 18px;
		margin-bottom: @grid;
	}
	p {
		font-size: 16px;
	}
}